/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #f4f4f4;
    background-color: #121212;
    margin: 0;
}

/* Estilos para la sección de Referencias */
#referencias .section-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.reference-card {
    background-color: #1e1e1e;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.reference-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.reference-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px solid #00e6e6;
}

.reference-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #ff4b2b;
}

.reference-card p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #ccc;
}

.reference-card .reference-text {
    font-style: italic;
    color: #888;
    margin-bottom: 15px;
}


/*Estilos para seccion Header*/

header {
    background: linear-gradient(to right, #000428, #004e92);
    color: white;
    padding: 20px 10%;
    text-align: center;
}

/*Estilos Seccion Nav*/

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(90deg, #1e1e1e, #333);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.8);
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00e6e6;
}

nav.scrolled {
    background: #000;
}

/*Estilos Seccion Hero*/
.hero {
    padding: 60px 0;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

main {
    padding: 40px 10%;
}

/*Estilos para las secciones*/
.content-section {
    margin-top: 7rem;
    margin-bottom: 7rem   ;
}


.section-title {
    font-size: 2rem;
    color: #ff4b2b;
    margin-bottom: 20px;
    border-left: 5px solid #ff4b2b;
    padding-left: 10px;
}

.section-content {
    padding-left: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-content.hidden {
    opacity: 0;
    transform: translateY(20px);
}

/*Estilos para links*/

ul {
    list-style: none;
}

ul li {
    margin: 5px 0;
}

blockquote {
    font-style: italic;
    color: #bbb;
    margin: 10px 0;
    border-left: 3px solid #ff4b2b;
    padding-left: 15px;
}

/*Estilo Formularios*/

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    margin-bottom: 5px;
}

form input,
form textarea,
form button {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

form input,
form textarea {
    width: 100%;
    background: #333;
    color: #fff;
}

form button {
    background: #ff4b2b;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #e63900;
}



/* Estilos para la sección de Proyectos */
#proyectos .section-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff4b2b;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #ccc;
}

.project-card a {
    display: inline-block;
    text-decoration: none;
    color: #00e6e6;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid #00e6e6;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.project-card a:hover {
    background-color: #00e6e6;
    color: #1e1e1e;
}

/* Estilos para la sección de Estudios y Cursos */
#estudios-cursos .section-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.course-card {
    background-color: #1e1e1e;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.course-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #ff4b2b;
}

.course-card p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #ccc;
}

.course-card .institution {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 15px;
}

.course-card a {
    display: inline-block;
    text-decoration: none;
    color: #00e6e6;
    font-weight: bold;
    padding: 8px 12px;
    border: 1px solid #00e6e6;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.course-card a:hover {
    background-color: #00e6e6;
    color: #1e1e1e;
}


/*Estilos Footer*/

footer {
    text-align: center;
    padding: 20px 0;
    background: #000428;
    color: #fff;
}
